---
layout: base.njk
title: Okan's
permalink: /index.html
---
<article>
  <h1>{{ site.title }}</h1>
  <p class="subtitle">{{ site.description }}</p>

  <ul class="post-list">
    {% for post in collections.posts %}
    <li>
      {% set en = collections.postsAll | translationOf(post.data.resolvedRef, post.data.resolvedLang) %}
      <span class="post-title">
        <a class="title-link title-default" href="{{ post.url }}">{{ post.data.title }}</a>
        {% if en and en.data.resolvedLang == "en" %}
        <a class="title-link title-alt" href="{{ en.url }}">{{ en.data.title }}</a><a class="lang-tag" href="{{ en.url }}" aria-label="Read in English" title="Read in English">EN</a>
        {% endif %}
      </span>
      <span class="post-list-date">{{ post.date | dateHuman }}</span>
      {% if post.data.description %}<p>{{ post.data.description }}</p>{% endif %}
      {% if post.data.categories %}
      <p class="post-list-categories">
        {% for c in post.data.categories %}<span class="category-tag">{{ c }}</span>{% endfor %}
      </p>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</article>
